<div class="d-flex" id="wrapper">
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Features</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/members">Members</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/bp-monitor">BP Monitoring</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/sugar-monitor">Sugar Monitoring</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/temperature">Temperature</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/bp-report">BP Report</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/blood-sugar-report">Blood Sugar Report</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/temperature-report">Temperature Report</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                <a style="margin-right: 1%;" class="nav-link" href="/login">Logout</a>
            </div>
        </nav>
        

