    <h1 class="center-all">History</h1>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Temperature</th>
                <th>Result</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% let i=1 %>
            <% tempHistory.forEach(function(data) { %>
            <tr>
                <td><%= i++ %></td>
                <td><%= data.temperature %></td>
                <td><%= data.check %></td>
                <td><%= data.inserted_at %></td>
                <td>
                    <a href="#" onclick="redirectToDelete()">Delete</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>